<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
   
    <link rel = "stylesheet" href = "/css/styles.css"/>
    <link rel = "stylesheet" href = "/css/styles2.css">


    <title>Gallery</title>
</head>
<body>
    <nav>
    <div class="logo">Gallery.</div>
   
    <ul class="nav-links">
        <li>
            <a href = "/dashboard">Home</a>
        </li>
        <li>
            <a href = "/create">create</a>
        </li>
        <li>
            <a href = "/profile">Profile</a>
        </li>
        <li>
            <form action="/logout" method="post">
                
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>

    </nav>
    
    <div class="profinf">
        <h1><%= user.name%></h1>
        <div class="foll">
            <a href = "/profile/followers">
                 <h2><%= user.followers.user.length%> Followers</h2>
                </a>
            <a href = "/profile/following"> 
                <h2><%= user.following.user.length%> Following</h2>
            </a>
        </div>
    </div>
    <% if(posts.length === 0){ %>
        <h1 class = "disclaimer">No posts yet.</h1>
        <% } %>
    <div class="imgdisp">
           
             <% for (let post of posts) { %>
                <div class="img-container">
                    <a href="/user/post/<%= post.photoId._id %>">
                    <img src="<%= post.photoId.imageUrl%>" alt = "<%= post.photoId.description%>" data-original="<%= post.photoId.imageUrl%>"/>
                </a>
                </div>
            <% } %>

         </div>
        
    
</div>
    <div class="modal">

        <img src ="" alt="" class="full-img"/>
        <p class="caption"></p>
    </div>

<!--script src="app.js"></script>
<script src="app2.js"></script-->
</body>
</html>